.headerWrap {
  &__wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;

    .logo {
      color: #fff;
      float: left;
      font-size: 2em;
      margin: 0 20px 0 5px;
    }

    .content {

      .search {
        float: left;
        width: 60%;
        
        &__input {
          .ant-input-search-icon {
              color: lightgray;
            }
          
          input {
            background-color: transparent;
            border-color: transparent;
            background-color: #5f5f5f;
            color: white;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }
  
      .login {
        float: right;
  
        a,
        a:hover {
          color: #fff;
          font-size: 1.2em;
        }
      }
    }

  }  
}
