.login {
  &__form {
    max-width: 300px;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 20px;      

    .emphisize {
      font-size: 2em;
      font-weight: 600;
    }
  }    

  &__button {
    width: 100%;
  }
}
