.tableContent {
  margin-top: 15px;
  
  .link {
    &--curriculum {
      width: auto;
      padding-right: 3px;
    }
    &--pdf {
      display: inline;
    }
  }
  
  /* antd overwrites */
  .no-desc {
    .ant-table-row-expand-icon {
      display: none;
    }
  }
  
  .no-status-margin {
    .ant-badge-status-text {
      margin: 0;
    }
  }

  .ant-table-thead {
    tr {
      th {
        background: #f7f7f7;

        .ant-table-column-sort {
          background: #eee;
        }
      }
    }
  }

  .ant-table-thead,
  .ant-table-tbody {
    tr {
      th,
      td {
        word-break: normal; 
        a { 
          height: 100%; 
          width: 100%; 
          display: inline-block; 
        } 
      }
    }
  }
  
  /* hack for hiding inactive tab panes pagination */
  .ant-tabs-tabpane-inactive {
    .ant-pagination {
      display: none;
    }
  }
}
