.no-desc .ant-table-row-expand-icon {
  display: none;
}
//TODO move to parent comp css
#main .ant-table-thead > tr > th {
  background: #f7f7f7;
}

#main .ant-table-thead > tr > th.ant-table-column-sort {
  background: #eee;
}

#main .align-col-right {
  text-align: right;
}

#main .align-col-center {
  text-align: center;
  .ant-badge-status-text {
    margin: 0;
  }
}

.cur-link {
  width: auto;
  padding-right: 3px;
}

.inline-link {
  display: inline;
}

.icon-15 {
  font-size: 15px;
}

.ant-tabs-tabpane-inactive {
  .ant-pagination {
    display: none;
  }
}
