.layout {
  background-color: #fff;

  &__content { 
    background: #fff;
    max-width: 980px;
    min-height: 280;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__footer {
    background-color: #fff;
    text-align: center;    
  }
}