.login-form {
  max-width: 300px;
  margin: 0 auto;

  h2 {
    margin-bottom: 20px;
  }
  .center {
    text-align: center;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .emphisize-title {
    font-size: 2em;
    font-weight: 600;
  }
}
