#home-page {
  .ant-card-body {
    padding: 14px;
  }
  .intro {
    margin: 100px 0;
    text-align: center;
  }
}

.home-curriculums {
  a {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
  }
}
