.curriculum-card {
  min-height: 90px;
  margin-bottom: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;

  h2 {
    line-height: 1;
    margin-bottom: 5px;
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  word-break: normal;
}
