#curriculum-meta {
  background-position: center center;
  background-size: cover;
  padding: 15px;

  .curriculum-avatar {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-table;
    margin-right: 5px;
  }
}
